//jshint ignore: start

<h3>Tasks are listed here.You can <a href='/todo'>Add More</a> tasks from here</h3> 
table
  thead
    tr
      th Taskname
      th Complete
      th Delete
  tbody
    each task in tasks
      tr
        td= task.taskname
        if(task.complete == 0)
         td #[a(href="todocomplete/#{task._id}") Complete]
        else
          td #[a(href="#") Completed]
        if(task.delete == 0)
         td #[a(href="tododelete/#{task._id}") Delete]
        else
          td #[a(href="#") Deleted]
